<h1>Smokin’ Burger!</h1>


<ul>
  {{#each burgers}}
  {{#unless devoured}}
  {{> burgers/burger-block devour=false}}
  {{/unless}}
  {{/each}}
</ul>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  {{> burgers/burger-block devour=true}}
  {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Insert Burger Name:</label>
    <input type="text" id="newburger" name="name">
  </div>

  <div class="form-group">
    {{!-- <button> devour</button>
    <input type="text" name="devour">
    <br>
    <button> devoured!</button>
    <input type="text" name="devoured"><br>
  </div> --}}
    <button type="submit">Add burger</button>
</form>
<div class="burgerList">

</div>